@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
  
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    min-height: 100vh;
    color: #fffcfc;
    overflow-x: hidden;
}

.glass-nav {
    background: rgba(169, 154, 154, 0.05);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.glass-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(193, 180, 180, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.glass-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid rgba(141, 91, 131, 0.1);
}


.btn-custom-add {
    background: linear-gradient(45deg, #ff00cc, #a9a9cc);
    border: none;
   
    font-weight: 600;
    transition: filter 0.3s;
}

.btn-custom-add:hover {
    filter: brightness(1.2);
    color: white;
}

.btn-action-edit {
    background: rgba(216, 214, 214, 0.1);
    color: #4facfe;
    border: 1px solid rgba(79, 172, 254, 0.3);
}

.btn-action-delete {
    background: rgba(233, 230, 230, 0.1);
    color: #5f1a20;
    border: 1px solid rgba(128, 122, 122, 0.3);
}

.btn-action-edit:hover { background: #4facfe; color: rgb(255, 255, 255); }
.btn-action-delete:hover { background: #ff5f6d; color: white; }

.glass-modal {
    background: linear-gradient(135deg, #1e1e2f, #2a2a40);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
}

.glass-input:focus {
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    box-shadow: none;
    border-color: #ff00cc;
}

.fade-in-up {
    animation: fadeInUp 0.8s ease-out;
}

.submit {
    background: linear-gradient(45deg, #ff00cc, #a9a9cc);
    border: none;
    color: white;
    font-weight: 600;
    transition: filter 0.3s;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}